* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}


.header{
  height:100vh;
  width: 100%;
  background-color: aqua;
}


.about{
  height:100vh;
  width: 100%;
  background-color:cadetblue;
}

.skills{
  height:100vh;
  width: 100%;
  background-color:darksalmon;
}

.works{
  height:100vh;
  width: 100%;
  background-color:goldenrod;
}

.contact{
  height:100vh;
  width: 100%;
  background-color:hotpink;
}

.footer{
  height:100vh;
  width: 100%;
  background-color:black;
  color: white;
}